<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="modalFragment">
	<div class="modal fade" id="login" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog " style="margin-top: 15%;">
			<div class="modal-content">
				<div class="modal-body">
					<div style="margin-bottom: 3rem;">
						<button style="float: right;" type="button" class="btn-close"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form action="login" method="POST">
						<div
							style="text-align: center; margin-left: auto; margin-right: auto;"
							class="col-sm-7 col-10">
							<h3 style="margin-bottom: 1.5rem;">
								<span class="fs-4" style="font-family: 'Ubuntu', sans-serif;">new
									Portfolio<span style="color: #a7e3b0;">(</span><span
									style="color: #77c783;">)</span><span style="color: #3bb84d;">;</span>
								</span>
							</h3>
							<div class="form-floating mb-3">

								<input type="email" name="email" class="form-control"
									id="floatingInput" placeholder="name@example.com"
									style="height: 2.5rem; border: none; background-color: #232323;">

								<label for="floatingInput" style="padding: 0.4rem .75rem;">Email
									address</label>
							</div>
							<div class="form-floating">
								<input type="password" name="password" class="form-control"
									id="floatingPassword" placeholder="Password"
									style="height: 2.5rem; border: none; background-color: #232323;">
								<label for="floatingPassword" style="padding: 0.4rem .75rem;">Password</label>
							</div>
						</div>
						<div class="col-sm-7 col-10"
							style="text-align: center; margin-left: auto; margin-right: auto;">
							<button style="width: 100%; margin-top: 2rem;" type="submit"
								class="btn btn-primary">Login</button>
							<hr>
						</div>
					</form>
					<div class="col-sm-7 col-10"
						style="text-align: center; margin-left: auto; margin-right: auto;">
						<a
							href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=7226e94e9966b51700e15e1823408600&redirect_uri=	
https://tomcat.jikwang.net/Portfolio/oauth">
							<img style="width: 100%; margin-bottom: 0.5rem;" alt=""
							src="img/kakao.png">
						</a>
						<a
							href="https://github.com/login/oauth/authorize?client_id=Iv1.6d4befd05a359661">
							<img style="width: 100%; margin-bottom: 2rem;" alt=""
							src="img/github.png">
						</a>
						 <small style="">아직 회원이 아니신가요? <a href=""
							data-bs-toggle="modal" data-bs-target="#signup"
							style="color: #be73cb;">회원가입</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="signup" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 15%;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						new Portfolio<span style="color: #a7e3b0;">(</span><span
							style="color: #77c783;">)</span><span style="color: #3bb84d;">;
						
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<th:block>
						<div
							style="text-align: center; margin-left: auto; margin-right: auto;"
							class="col-sm-7 col-10">
							<h3>처음오셨군요!</h3>
							<form action="register" method="POST">
								<input type="hidden" name="profileImg"
									value="https://tomcat.jikwang.net/ctor/img/green.png">
								<div class="form-floating mb-3">
									<input type="email" name="email" class="form-control"
										id="floatingInput" placeholder="name@example.com"
										style="height: 2.5rem; border: none; background-color: #232323;"
										required="required"> <label for="floatingInput"
										style="padding: 0.4rem .75rem;">이메일 주소</label>
								</div>
								<div class="form-floating mb-3">
									<input type="text" name="name" class="form-control"
										id="floatingname" placeholder="홍길동" autocomplete="off"
										style="height: 2.5rem; border: none; background-color: #232323;"
										required="required"> <label for="floatingname"
										style="padding: 0.4rem .75rem;">이름</label>
								</div>
								<div class="form-floating mb-3">
									<input type="password" name="password" class="form-control"
										id="floatingPassworda" placeholder="Password"
										style="height: 2.5rem; border: none; background-color: #232323;"
										required="required"> <label for="floatingPassworda"
										style="padding: 0.4rem .75rem;">비밀번호</label>
								</div>
								<div class="form-floating mb-3">
									<input type="password" name="password" class="form-control"
										id="floatingPassword" placeholder="Password"
										style="height: 2.5rem; border: none; background-color: #232323;"
										required="required"> <label for="floatingPassword"
										style="padding: 0.4rem .75rem;">비밀번호 확인</label>
								</div>

								<button class="btn btn-primary" type="submit">회원가입!</button>

							</form>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="test" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 20%;">
			<div class="modal-content">
				<div class="modal-body">
					<th:block>
						<div style="text-align: center;">
							<fieldset id="page1">
								<h3>안녕하세요 처음오셨군요!</h3>
								<h5>닉네임을 설정해주세요.</h5>

									<form action="register" method="POST">
										<div class="d-grid gap-3 col-6 mx-auto">
											<div class="input-group input-group-lg">
												<span class="input-group-text" id="inputGroup-sizing-lg">@</span>
												<input type="text" class="form-control" name="nickName"
													aria-label="Sizing example input" disabled="disabled"
													aria-describedby="inputGroup-sizing-lg">
											</div>
											<button type="submit">회원등록</button>
										</div>
									</form>
							</fieldset>

						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="alarm" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog " style="margin-top: 15%;">
			<div class="modal-content">
				<div class="modal-body">
					<div style="margin-bottom: 3rem;">
						<button style="float: right;" type="button" class="btn-close"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div
						style="text-align: center; margin-left: auto; margin-right: auto;"
						class="col-sm-7 col-10">
						<h3 style="margin-bottom: 1.5rem;">
							<span class="fs-4" style="font-family: 'Ubuntu', sans-serif;">new
								Project<span style="color: #ca9ed1;">(</span><span
								style="color: #be73cb;">)</span><span style="color: #ae45c1;">;</span>
							</span>
						</h3>
					</div>
					<div class="col-sm-7 col-10"
						style="text-align: center; margin-left: auto; margin-right: auto;">
						<h5>새로운 알림</h5>
					</div>
					<div class="list-group col-12">
						<th:block th:each="dto : ${message}">
							<a th:href="@{/checkedAlarm(num=${dto.num}, url=${dto.url})}"
								class="list-group-item list-group-item-action"
								aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">[[${dto.title}]]</h5>
									<small
										th:text="${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm','KST')}"></small>
								</div>
								<p class="mb-1">[[${dto.text}]]</p>
							</a>
						</th:block>
						<div class="h6" th:if="${#lists.isEmpty(message)}"
							style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
							No messages</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</html>